<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@400;500;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../style/style.css">
  <link rel="icon" href="../assets/icoP.png">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>coelhiN Bot</title>
</head>
<body>
  <div className="homeS">
    <div class="bg">
      <div>
        <table id="tableC">
          <tr>
            <th>Command</th>
            <th>Message</th>
          </tr>
          <tr>
            <td>-hello</td>
            <td>Hello user</td>
          </tr>
    
          <tr>
            <td>-bye</td>
            <td>Bye bro, see ya</td>
          </tr>
    
          <tr>
            <td>-time</td>
            <td>The current time is: ...</td>
          </tr>
    
          <tr>
            <td>-dice</td>
            <td>You rolled a "number" "user"</td>
          </tr>
    
          <tr>
            <td>-weathertd</td>
            <td>Today is "weather" "user"</td>
          </tr>
    
          <tr>
            <td>-delay</td>
            <td>This live has no delay</td>
          </tr>
    
          <tr>
            <td>-echo</td>
            <td>"user", you said: "message"</td>
          </tr>
    
          <tr>
            <td>-8ball</td>
            <td>"answer" and "user"</td>
          </tr>
    
          <tr>
            <td>-ping</td>
            <td>Latency: ...ms</td>
          </tr>
    
          <tr>
            <td>-colorbot</td>
            <td>Bot color changed</td>
          </tr>

          <tr>
            <td>-adbot</td>
            <td>Watch this beautiful AD 📺</td>
          </tr>

          <tr>
            <td>-hostc</td>
            <td>See you later, enjoy the live</td>
          </tr>

          <tr>
            <td>-modlist</td>
            <td>List of live mods</td>
          </tr>

          <tr>
            <td>-followY</td>
            <td>Chat for followers only</td>
          </tr>

          <tr>
            <td>-followN</td>
            <td>Followers chat disabled</td>
          </tr>

          <tr>
            <td>-emoteY</td>
            <td>Chat for emote only</td>
          </tr>

          <tr>
            <td>-emoteN</td>
            <td>Emote chat disabled</td>
          </tr>

          <tr>
            <td>-timeout</td>
            <td>Timeout "user"</td>
          </tr>

          <div class="btnC">
            <a href="index.html" class="btn">Back</a>
          </div>
        </table>
      </div>
    </div>
  </div>
</body>
</html>