<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@400;500;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../style/style.css">
  <link rel="icon" href="../assets/icoP.png">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>coelhiN Bot</title>
</head>
<body>
  <div class="bg">
    <div class="main">
      <div class="imgB">
        <img src="../assets/icoBot.png" >
      </div>
      <div class="cont">
        Hello, my name is coelhiN Bot, and I'm a bot for your Twitch chat. Have fun with me ♡
      </div>
      <div>
        <a href="commands.html" class="btn">Commands</a>
        <a href="https://github.com/coelhiN77" class="btn" target="_blank">Git Hub</a>
      </div>
    </div>
  </div>
</body>
</html>